.adopt {
    color: #3c3e47;
}

a h4 {
    color: #5a9dd8;
    cursor: pointer;
}

.adopt h1 {
    margin: 100px 0 50px 0;
}

.adopt__info__list {
    line-height: 200%;
}

.adopt__info__list li {
    list-style-type: circle;
    margin-left: 30px;
}

.adopt-pdf-link {
    color: black;
    font-weight: bold;
}

.item {
    margin-left: 0;
}

.item h2 {
    text-align: center;
}

.adopt__info__fees {
    margin-bottom: 50px;
}

.adopt__seniors {
    margin: 100px 0;
}

.adopt__seniors h1 {
    margin: 30px 0;
}

.adopt__seniors a {
    color: #5a9dd8;
    margin-top: 30px;
}