.visit {
    color: #3c3e47;
    line-height: 150%;
    margin: auto;
    /* padding: 0 100px 100px 100px; */
}

.visit h1 {
    margin-bottom: 50px;
}

.visit__shelters {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-bottom: 50px;
}

.visit__shelters__links {
    border-bottom: 3px solid #0f2940;
    cursor: pointer;
    display: inline;
    margin-right: 20px;
    padding: 10px;
}

p {
    margin-top: 20px;
}